{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block title %}
        {% endblock title %}
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav-list">
                    <li class="buttons"><a href="{% url 'list_projects' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li class="buttons">
                            <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                        </li>
                        <li class="buttons">
                            <a href="{% url 'list_projects' %}">My Projects</a>
                        </li>
                        <div class="nav-right">
                            <a class="nav-right-font" href="{% url 'logout' %}">Logout</a>
                        </div>
                    {% else %}
                        <li class="buttons">
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="buttons">
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
